<link rel="stylesheet" href="css/card.css">
<div class="contenedor">

  <div class="grid">
    <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>
        <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>    <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>
        <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>
        <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>
        <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>
        <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>
        <article>
      <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2016/03/10/160310003806_arma_calibre_45_624x351_thinkstock_nocredit.jpg" alt="Sample photo">
      <div class="text">
        <h3>Nueva arma buenita</h3>
        <h4>Manu</h4>
        <p>Que esperas para comprarlo la concha de tu madre</p>

        <a class="btn-aqua">Ver articulo</a>
      </div>
    </article>

  </div>
</div>